<section id="footer" class="section-p1 margin-m1">
        <div class="box-wrapper">
            <div class="first-box">
                <a href="#"><img src="/static/images/logo.png" class="logo margin-bm" alt=""></a>
                <h4 class="margin-bm">Contact</h4>
                <p><strong>Address:</strong>  562 Wellington Road Street 32,San Fransco</p>
                <p><strong>Phone:</strong> +01 22222 365 / +01 23456789</p>
                <p><strong>Hours:</strong> 10:00 to 18:00 Mon-Sat</p>
                <h4 class="follow">Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
            <div class="second-box">
                <h4>About</h4>
                <a href="#">About Us</a><br>
                <a href="#">Delivery Information</a><br>
                <a href="#">Privacy Policy</a><br>
                <a href="#">Terms & Conditions</a><br>
                <a href="#">Contact Us</a>
            </div>
            <div class="third-box">
                <h4>My Account</h4>
                <a href="#">Sign In</a><br>
                <a href="#">View Cart</a><br>
                <a href="#">My Wishlist</a><br>
                <a href="#">Track My Order</a><br>
                <a href="#">Help</a>
            </div>
            <div class="fourth-box">
                <h4>Install App</h4>
                <span>From App Store or Google Play</span><br>
                <a href=""><img class="store" src="/static/images/pay/app.jpg" alt=""></a>
                <a href=""><img class="store" src="/static/images/pay/play.jpg" alt=""></a><br>
                <span class="sp">Secured Payment Gateways</span><br>
                <img src="/static/images/pay/pay.png" alt="">
            </div>
        </div>
        <p class="copyright">&copy; 2021 Sachin2etc- HTML CSS Ecommerce Template</p>
    </section>