<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    
    {{!-- css file --}}
    <link rel="stylesheet" href="/static/css/style.css">

    {{!-- fontawesom link --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

</head>

<body>

    <!-- Header Section -->

    {{> navbar data=navDetail}}



    <!-- Hero Section -->
    <section id="contact-header">
        <h2>#let's_talk</h2>
        <p>LEAVE A MESSAGE, We love to hear from you!</p>
    </section>

    <!-- Detail Section -->
    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit one of our agency locations or contact us today</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="fa-solid fa-map"></i>
                    <p>56 Glassford Strret Glasgow GI IUL New York</p>
                </li>
                <li>
                    <i class="far fa-envelope"></i>
                    <p>contact@example.com</p>
                </li>
                <li>
                    <i class="fas fa-phone-alt"></i>
                    <p>contact@example.com</p>
                </li>
                <li>
                    <i class="far fa-clock"></i>
                    <p>Monday to Saturday: 9.00am to 16.pm</p>
                </li>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30516144.811405223!2d82.75252935000003!3d20.98801344999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1663955560660!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <!-- Form Details -->
    <section id="form-details">
        <form action="process-contact-form" method="post">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input name="name" type="text" placeholder="Your Name">
            <input name="email" type="email" placeholder="E-mail">
            <input name="subject" type="text" placeholder="Subject">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button type="submit" class="normal">Submit</button>
        </form>
        <div class="people">
            <div class="p-details">
                <img src="/static/images/people/1.png" alt="people image">
                <p><span>John Doe</span> Senior Marketing Manager <br> Phone: + 000 123 000 77 88 <br> Email: contact@gmail.com</p>
            </div>
            <div class="p-details">
                <img src="/static/images/people/2.png" alt="people image">
                <p><span>William Smith</span> Senior Marketing Manager <br> Phone: + 000 123 000 77 88 <br> Email: contact@gmail.com</p>
            </div>
            <div class="p-details">
                <img src="/static/images/people/3.png" alt="people image">
                <p><span>Emma Stone</span> Senior Marketing Manager <br> Phone: + 000 123 000 77 88 <br> Email: contact@gmail.com</p>
            </div>
        </div>
    </section>

    <!-- Newsletter Section -->
    <section id="newsletter" class="section-p1 section-m1">
        <div class="left">
            <h4>Sign Up For Newsletter</h4>
            <p>Get E-mail updates about out latest shop and <span>special offers</span></p>
        </div>
        <div class="right">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>


    <!-- Footer Section -->

    {{> footer}}


    <!-- javascript -->
    <script src="/static/js/script.js"></script>
</body>

</html>