<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    
    {{!-- css file --}}
    <link rel="stylesheet" href="/static/css/style.css">

    {{!-- fontawesom link --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

</head>

<body>

    <!-- Header Section -->

    
    {{> navbar data=navDetail}}

    <!-- Hero Section -->
    <section id="shop-header">
        <h2>#stayhome</h2>
        <p>Save more with coupons & up to 70% off!</p>
    </section>

    <!-- Product Section -->
    <section id="product1" class="section-p1">
        <div class="product-wrapper">
            <div class="product-box" onclick="window.location.href='sproduct';">
                <img src="/static/images/products/f1.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box" onclick="window.location.href='sproduct';">
                <img src="/static/images/products/f2.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box" onclick="window.location.href='sproduct';">
                <img src="/static/images/products/f3.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box" onclick="window.location.href='sproduct';">
                <img src="/static/images/products/f4.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#" onclick="window.location.href='sproduct';"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box">
                <img src="/static/images/products/f5.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box" onclick="window.location.href='sproduct';">
                <img src="/static/images/products/f6.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box" onclick="window.location.href='sproduct';">
                <img src="/static/images/products/f7.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-box" onclick="window.location.href='sproduct';">
                <img src="/static/images/products/f8.jpg" alt="">
                <div class="description">
                    <p>adidas</p>
                    <h6>Cartoon Astronaut T-Shirts</h6>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="product-wrapper">
                <div class="product-box" onclick="window.location.href='sproduct';">
                    <img src="/static/images/products/n1.jpg" alt="">
                    <div class="description">
                        <p>adidas</p>
                        <h6>Cartoon Astronaut T-Shirts</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="product-box" onclick="window.location.href='sproduct';">
                    <img src="/static/images/products/n2.jpg" alt="">
                    <div class="description">
                        <p>adidas</p>
                        <h6>Cartoon Astronaut T-Shirts</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="product-box" onclick="window.location.href='sproduct';">
                    <img src="/static/images/products/n3.jpg" alt="">
                    <div class="description">
                        <p>adidas</p>
                        <h6>Cartoon Astronaut T-Shirts</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="product-box" onclick="window.location.href='sproduct';">
                    <img src="/static/images/products/n4.jpg" alt="">
                    <div class="description">
                        <p>adidas</p>
                        <h6>Cartoon Astronaut T-Shirts</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="product-box" onclick="window.location.href='sproduct';">
                    <img src="/static/images/products/n5.jpg" alt="">
                    <div class="description">
                        <p>adidas</p>
                        <h6>Cartoon Astronaut T-Shirts</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="product-box" onclick="window.location.href='sproduct';">
                    <img src="/static/images/products/n6.jpg" alt="">
                    <div class="description">
                        <p>adidas</p>
                        <h6>Cartoon Astronaut T-Shirts</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="product-box" onclick="window.location.href='sproduct';">
                    <img src="/static/images/products/n7.jpg" alt="">
                    <div class="description">
                        <p>adidas</p>
                        <h6>Cartoon Astronaut T-Shirts</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="product-box" onclick="window.location.href='sproduct'">
                    <img src="/static/images/products/n8.jpg" alt="">
                    <div class="description">
                        <p>adidas</p>
                        <h6>Cartoon Astronaut T-Shirts</h6>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>

            </div>
    </section>

    <!-- PageNation Section -->
    <section id="pagination" class="section-p1">
        <a class="next-page" href="#">1</a>
        <a class="next-page" href="#">2</a>
        <a class="next-page" href="#"><i class="fa fa-arrow-right"></i></i></a>
    </section>

    <!-- Newsletter Section -->
    <section id="newsletter" class="section-p1 section-m1">
        <div class="left">
            <h4>Sign Up For Newsletter</h4>
            <p>Get E-mail updates about out latest shop and <span>special offers</span></p>
        </div>
        <div class="right">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>



    <!-- Footer Section -->

    {{> footer}}


    <!-- javascript -->
    <script src="/static/js/script.js"></script>
</body>

</html>